/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside,
section {
   display: block;
}

html,
body {
   height: 100%;
   min-width: 320px;
}

body {
   line-height: 1;
   font-size: 14px;
   font-family: "Times New Roman", Times, serif;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: "Lato";
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

body {
   background: linear-gradient(
      0deg,
      rgba(0, 114, 154, 1) 0%,
      rgba(81, 201, 194, 1) 0%,
      rgba(50, 137, 210, 1) 45%,
      rgba(72, 198, 231, 1) 100%,
      rgba(50, 208, 237, 1) 100%
   );
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.slider__body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: calc(250px + (800 - 250) * ((100vw - 320px) / (1920 - 320)));
   background-color: rgba(186, 186, 186, 0.2);

   padding: 0 calc(5px + (30 - 5) * ((100vw - 320px) / (1920 - 320)));
   row-gap: 1.43em;
   border-radius: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.slidershow {
   margin-left: 00%;
   max-width: calc(300px + (1200 - 300) * ((100vw - 320px) / (1920 - 320)));
   overflow: hidden;
}

.slides {
   width: 500%;
   height: 100%;
   display: flex;
}

.slide {
   width: 20%;
   transition: all 0.2s ease-out;
   border-radius: 10px;
   overflow: hidden;
   display: flex;
   max-width: 75rem;
   max-height: 31.875rem;
}

.slide img {
   display: block;
   object-fit: contain;
   border: 4px solid #fed67e;
   border-radius: 10px;
   width: 50%;
}

#r1:checked ~ .slidershow .s1 {
   margin-left: 0;
}

#r2:checked ~ .slidershow .s1 {
   margin-left: -20%;
}
#r3:checked ~ .slidershow .s1 {
   margin-left: -40%;
}
#r4:checked ~ .slidershow .s1 {
   margin-left: -60%;
}
#r5:checked ~ .slidershow .s1 {
   margin-left: -80%;
}

.bar {
   cursor: pointer;
   display: inline-block;
   width: 0;
   height: 0;
   background: #fcfff5;
   border-radius: 50%;
   border-style: solid;
   border-width: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
   border-top-color: #51c9c2;
   border-right-color: transparent;
   border-bottom-color: #51c9c2;
   border-left-color: transparent;
   transition: transform 0.5s ease-in-out;
}

.bar::before {
   content: "";
   display: block;
   width: calc(50px + (75 - 50) * ((100vw - 320px) / (1920 - 320)));
   height: calc(50px + (75 - 50) * ((100vw - 320px) / (1920 - 320)));
   transform: translate(-50%, -50%);
   overflow: hidden;
}

.navigation__block {
   width: calc(300px + (1200 - 300) * ((100vw - 320px) / (1920 - 320)));
   display: flex;
   justify-content: space-between;
}

.slides__text {
   max-width: calc(300px + (600 - 300) * ((100vw - 320px) / (1920 - 320)));
   overflow: hidden;
}

.description {
   display: flex;
   width: 500%;
   overflow: hidden;
}

.description__inner {
   width: 20%;
   transition: all 0.1s ease-out;
}

.description p {
   width: 100%;

   font-size: calc(10px + (35 - 10) * ((100vw - 320px) / (1920 - 320)));
   line-height: calc(10px + (35 - 10) * ((100vw - 320px) / (1920 - 320)));
   color: black;
}

input[name="r"] {
   display: none;
}

.navigation {
   display: flex;
   column-gap: 15px;
}

#r1:checked ~ .navigation__block .n1 {
   margin-left: 0%;
}
#r2:checked ~ .navigation__block .n1 {
   margin-left: -20%;
}
#r3:checked ~ .navigation__block .n1 {
   margin-left: -40%;
}
#r4:checked ~ .navigation__block .n1 {
   margin-left: -60%;
}
#r5:checked ~ .navigation__block .n1 {
   margin-left: -80%;
}

#r1:checked ~ .navigation__block .navigation label:nth-child(1),
#r2:checked ~ .navigation__block .navigation label:nth-child(2),
#r3:checked ~ .navigation__block .navigation label:nth-child(3),
#r4:checked ~ .navigation__block .navigation label:nth-child(4),
#r5:checked ~ .navigation__block .navigation label:nth-child(5) {
   background-color: #fed67e;
}

#r1:checked ~ .navigation__block .navigation label:nth-child(1):hover,
#r2:checked ~ .navigation__block .navigation label:nth-child(2):hover,
#r3:checked ~ .navigation__block .navigation label:nth-child(3):hover,
#r4:checked ~ .navigation__block .navigation label:nth-child(4):hover,
#r5:checked ~ .navigation__block .navigation label:nth-child(5):hover {
   background-color: lightgreen;
}

.bar:hover {
   background-color: lightgreen;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}

#r1:checked ~ .navigation__block .navigation label:nth-child(1):active,
#r2:checked ~ .navigation__block .navigation label:nth-child(2):active,
#r3:checked ~ .navigation__block .navigation label:nth-child(3):active,
#r4:checked ~ .navigation__block .navigation label:nth-child(4):active,
#r5:checked ~ .navigation__block .navigation label:nth-child(5):active {
   background-color: transparent;
}

.bar:active {
   background-color: transparent;
}

@media (min-width: 1921px) {
   .navigation__block {
      width: 1200px;
   }

   .slides__text {
      max-width: 500px;
      overflow: hidden;
   }

   .bar::before {
      content: "";
      display: block;
      width: 70px;
      height: 70px;
      transform: translate(-50%, -50%);
      overflow: hidden;
   }

   .slider__body {
      height: 800px;
   }

   .slidershow {
      max-width: 1200px;
   }
   .bar {
      border-width: 30px;
   }
   .description p {
      font-size: 35px;
   }
}

@media (max-width: 646px) {
   .navigation__block {
      flex-direction: column;
      align-items: center;
      row-gap: 1.43em;
   }
   .slides__text {
      order: 2;
      align-self: flex-start;
   }
   .description p {
      font-size: 1.43em;
      line-height: 1.43em;
   }
}
